.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  margin-bottom: 0;
  font-family: "Modak";
  font-size: 15vw;
  text-shadow: 0 1vw 2vw black;
  font-weight: 400;
}

.game-title-EN {
  margin-top: 0;
  font-family: "Modak";
  text-shadow: 0 1vw 2vw black;
  font-size: 7vw;
  font-weight: 400;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rubik-paragraph {
  font-family: "Modak";
  font-weight: 400;
  margin: 0;
  text-shadow: 0 1vw 2vw black;
}

.dropdown {
  margin-left: 5vw;
  border: none;
  border-radius: 10vw;
  box-shadow: 0 1vw 2vw black;
}

.number-input {
  width: 10vw;
  border: none;
  border-radius: 10vw;
  box-shadow: 0 1vw 2vw black;
}

.start-button {
  margin: 10vw 0 0 0;
  padding: 0;
  width: 15vw;
  height: 10vw;
}

.speech-box {
  width: 80vw;
  height: 80vw;
  background-image: url("../images/speech.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thought-box {
  width: 80vw;
  height: 80vw;
  background-image: url("../images/thought.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.randomImage {
  width: 25vw;
  margin-bottom: 10vw;
}

.quiz-egg {
  width: 20vw;
  margin-right: 50vw;
}

.delay-display {
	-webkit-animation:delay-display 4s ease-out;
	-moz-animation:delay-display 4s ease-out;
	animation:delay-display 4s ease-out;
}

@keyframes delay-display {
	0% {opacity: 0;}
	99% {opacity: 0;}
	100% {opacity: 1;}
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.score-img {
  width: 15vw;
}

.score-number {
  font-size: 10vw;
  margin: 0 5vw;
}

.question-text {
    width: 75%;
    font-size: 5vw;
    margin: 0 0 15vw 0;
}
  
  textarea {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
  }
  
  textarea:focus,
  input:focus {
    outline: 0;
  }
  /* Question */
  
  input.question,
  textarea.question {
    font-size: 20px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
  }
  /* Underline and Placeholder */
  
  input.question + label,
  textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 3px solid white;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
  }
  
  input.question:focus + label,
  textarea.question:focus + label {
    width: 100%;
  }
  
  input.question:focus,
  input.question:valid {
    padding-top: 35px;
  }
  
  textarea.question:valid,
  textarea.question:focus {
    margin-top: 35px;
  }
  
  input.question:focus + label > span,
  input.question:valid + label > span {
    top: -100px;
    font-size: 22px;
    color: #333;
  }
  
  textarea.question:focus + label > span,
  textarea.question:valid + label > span {
    top: -150px;
    font-size: 22px;
    color: pink;
  }
  
  input.question:valid + label,
  textarea.question:valid + label {
    border-color: white;
  }
  
  input.question:invalid,
  textarea.question:invalid {
    box-shadow: none;
  }
  
  input.question + label > span,
  textarea.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 18px;
    top: -35px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }

  .facts-paragraph {
    font-family: 'Delius', cursive;
    color: white;
    text-shadow: 0 1vw 2vw black;
}

.question-text {
  font-family: 'Delius', cursive;
  color: white;
  text-shadow: 0 1vw 2vw black;
}

.resources-second-heading{
  font-family: 'Delius', cursive;
  color: white;
  text-shadow: 0 1vw 2vw black;
  font-size: larger;
}

.resource-link{
  font-family: 'Delius', cursive;
  color: white;
  text-shadow: 0 1vw 2vw black;
  font-weight: bold;

}

.resource-egg {
  width: 20vw;
}
  
  /* Below this line screens larger than 768px */

  @media (min-width: 768px) {

    .game-container {
      margin-top: 5vw;
      flex-direction: row;
    }

    .delay-display {
      -webkit-animation:delay-display 6s ease-out;
      -moz-animation:delay-display 6s ease-out;
      animation:delay-display 6s ease-out;
    }
    
    @keyframes delay-display {
      0% {opacity: 0;}
      99% {opacity: 0;}
      100% {opacity: 1;}
    }

    .game-title {
      font-size: 5vw;
    }

    .game-title-EN {
      font-size: 2.5vw;
      padding-bottom: 20vw;
    }

    .speech-box, .thought-box {
      width: 30vw;
      height: 30vw;
      order: 2;
      margin-top: -30vw;
    }

    .randomImage {
      width: 10vw;
      margin-bottom: 5vw;
    }

    .question-text {
      font-size: 3vw;
      margin: 0 0 10vw 0;
    }

    #quiz-egg {
      width: 12vw;
      margin: 0;
      order: 1;
    }

    .question-form {
      order: 3;
      padding-left: 10vw;
    }
  }

