.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.games-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home-title {
    margin-bottom: 0;
    font-family: "Modak";
    text-shadow: 0 1vw 2vw black;
    font-size: 7vw;
    font-weight: 400;
}

.home-title-EN {
    margin-top: 0;
    font-family: "Modak";
    text-shadow: 0 1vw 2vw black;
    font-size: 4vw;
    font-weight: 400;
}

.games-card {
    width: 25vw;
    margin: 2vw 1vw;
    background-color:whitesmoke;
    box-shadow: 0 0 3vw white;
    border-radius: 1vw;
    padding: 1vw;
}

.games-title {
    font-family: "Modak";
    font-size: 6vw;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 1vw 1vw black;
}

.games-image {
    width: 23vw;
}

.grow {
    transition: transform .5s;
}

.grow:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

@media (min-width: 768px) {
    .games-container{
        flex-direction: row;
    }

    .home-title {
        font-size: 5vw;
    }

    .home-title-EN {
        font-size: 2.5vw;
    }

    .games-card {
        width: 20vw;
        margin: 2vw;
    }

    .games-title {
        font-size: 4vw;
    }

    .games-image {
        width: 20vw;
    }
}